.section {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(5, 5, 5, 0.1);
  background-color: #fefefe;
  border-radius: 8px;
  padding: 2rem;
  max-width: 640px;
  gap: 4rem;
  font-size: 14px;
  line-height: 28px;
  font-family: 'Segoe UI';
  color: rgba(5, 5, 5, 0.88);

  .title {
    font-weight: 500;
  }

  a:link {
    color: currentColor;
    text-decoration: none;
  }
  a:visited {
    color: currentColor;
    text-decoration: none;
  }
  a:hover {
    color: currentColor;
    text-decoration: none;
  }
  a:active {
    color: currentColor;
    text-decoration: none;
  }

  code {
    margin: 0 1px;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 3px;
  }
}
