.bla {
    background-image: linear-gradient(300deg, hsl(220, 70%, 52%) 0%, hsl(172, 57%, 43%) 100%);
    padding: 1em;
    border-radius: 0.5em;
    border: 0.1em white solid;
    color: whitesmoke;
}

body {
    background-image: linear-gradient(330deg, hsl(175, 55%, 75%) 0%, hsl(306, 57%, 43%) 100%);
}