.App {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  padding: 4rem 1rem 0 1rem;
  gap: 4rem;

  font-size: 14px;
  line-height: 28px;
  font-family: "Segoe UI";
  color: rgba(5, 5, 5, 0.88);

  .title {
    grid-column: span 2;
    max-width: 500px;
  }

  code {
    margin: 0 1px;
    padding: 0.2em 0.4em;
    font-size: 0.9em;
    background: rgba(0, 0, 0, 0.04);
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 3px;
  }
}
